In [1]:
import os

In [2]:
# print the current active working folder

In [3]:
os.getcwd()

'C:\\Users\\User\\Desktop\\SphoorthiOum\\notebooks'

In [6]:
"\\u"

'\\u'

In [7]:
# list all the files/content of a folder

In [8]:
# os.listdir(PATHNAME)
# if you're listing out the content of current folder, just enter '.'

In [9]:
os.listdir('.')

['.ipynb_checkpoints',
 'Assignments-May-25.ipynb',
 'Dictionary-1.ipynb',
 'Python_Files_OS.ipynb',
 'wordCount.ipynb']

In [10]:
# craeting a folder/dir
# os.mkdir("name of the folder")

In [11]:
os.mkdir("pythonfiles")

In [12]:
os.listdir('.')

['.ipynb_checkpoints',
 'Assignments-May-25.ipynb',
 'Dictionary-1.ipynb',
 'pythonfiles',
 'Python_Files_OS.ipynb',
 'wordCount.ipynb']

In [13]:
os.getcwd()

'C:\\Users\\User\\Desktop\\SphoorthiOum\\notebooks'

In [14]:
os.listdir('C:\\Users\\User\\Desktop\\SphoorthiOum\\notebooks')

['.ipynb_checkpoints',
 'Assignments-May-25.ipynb',
 'Dictionary-1.ipynb',
 'pythonfiles',
 'Python_Files_OS.ipynb',
 'wordCount.ipynb']

In [15]:
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 'Assignments-May-25.ipynb',
 'Dictionary-1.ipynb',
 'pythonfiles',
 'Python_Files_OS.ipynb',
 'wordCount.ipynb']

In [16]:
# changing directory from one folder to another folder
# cd folderName

In [17]:
os.chdir('pythonfiles')

In [18]:
os.getcwd()

'C:\\Users\\User\\Desktop\\SphoorthiOum\\notebooks\\pythonfiles'

In [19]:
"sring.py" in os.listdir('.')

False

In [20]:
'Assignments-May-25.ipynb' in os.listdir('.')

False

In [21]:
'Assignments-May-25.ipynb' in os.listdir('C:\\Users\\User\\Desktop\\SphoorthiOum\\notebooks')

True

In [22]:
## Files

In [25]:
os.listdir('.')

['sample.txt']

In [26]:
# opening a file to read the content

In [27]:
# we are openign the file in read mode

In [28]:
# syntax to open a file in read mode / write mode

In [31]:
# we pass mode as an argument into open function

In [ ]:
# open() -> 2 args
# 1st - FileName
# 2nd - mode 
#       - 'r' for read
#       - 'w 'for write
#       - 'a' for append

In [30]:
# fileObj = open("filename","r") -> reading a file ( r means read)
# fileObj = open("filename","w") -> writing a file ( w means write)

In [39]:
fh=open('sample.txt',"r")

In [34]:
# to read, we apply .read() method on the file objct
# fh.read()

In [40]:
text=fh.read()

In [41]:
text

'line1\nline2\nline3\nline4\nline5\n1111'

In [42]:
fh.close()

In [43]:
fh

In [44]:
# write

In [45]:
fhh=open("newfile.csv","w")

In [46]:
fhh=open("sample2.txt","w")

In [47]:
fhh.write(text)

34

In [48]:
fhh.close()

In [49]:
# DataBases

In [50]:
import sqlite3

In [51]:
os.getcwd()

'C:\\Users\\User\\Desktop\\SphoorthiOum\\notebooks\\pythonfiles'

In [52]:
os.mkdir('C:\\Users\\User\\Desktop\\SphoorthiOum\\notebooks\\Database')

In [53]:
os.chdir('C:\\Users\\User\\Desktop\\SphoorthiOum\\notebooks\\Database')

In [54]:
os.getcwd()

'C:\\Users\\User\\Desktop\\SphoorthiOum\\notebooks\\Database'

In [55]:
# creating a connection
# connobj = sqlite3.connect("DataBasename.db")

In [56]:
conn=sqlite3.connect("employees.db")

In [57]:
# create a table
# https://www.w3schools.com/sql/sql_create_table.asp

In [58]:
createtable="""CREATE TABLE employees( id integer,  name    text,
                          designation text,     manager integer,
                          hired_on    date,     salary  integer,
                          commission  float,    dept    integer);"""

In [59]:
# execute a query

In [61]:
# we use .execute method to run queries
# we run queries on conn object

In [62]:
conn.execute(createtable)

In [63]:
# creating something

In [64]:
conn.commit()

In [65]:
# Insert values into the table
# https://www.w3schools.com/sql/sql_insert.asp

In [66]:
item="""INSERT INTO employees VALUES (1,'JOHNSON','ADMIN',6,'1990-12-17',18000,NULL,4);"""

In [67]:
conn.execute(item)

In [68]:
conn.commit()

In [69]:
item2="""INSERT INTO employees VALUES (2,'HARDING','MANAGER',9,'1998-02-02',52000,300,3);"""

In [70]:
conn.execute(item2)

In [71]:
conn.commit()

In [73]:
# adding multiple values to a sqlite DB at once

In [74]:
# conn.executemany(Query)

In [75]:
# rows of data

In [78]:
rows=[
    (3,'TAFT','SALES I',2,'1996-01-02',25000,500,3),
    (4,'HOOVER','SALES I',2,'1990-04-02',27000,None,3),
    (5,'LINCOLN','TECH',6,'1994-06-23',22500,1400,4),
(6,'GARFIELD','MANAGER',9,'1993-05-01',54000,None,4),
(7,'POLK','TECH',6,'1997-09-22',25000,None,4),
(8,'GRANT','ENGINEER',10,'1997-03-30',32000,None,2),
(9,'JACKSON','CEO',None,'1990-01-01',75000,None,4),
(10,'FILLMORE','MANAGER',9,'1994-08-09',56000,None,2),
]
rows

[(3, 'TAFT', 'SALES I', 2, '1996-01-02', 25000, 500, 3),
 (4, 'HOOVER', 'SALES I', 2, '1990-04-02', 27000, None, 3),
 (5, 'LINCOLN', 'TECH', 6, '1994-06-23', 22500, 1400, 4),
 (6, 'GARFIELD', 'MANAGER', 9, '1993-05-01', 54000, None, 4),
 (7, 'POLK', 'TECH', 6, '1997-09-22', 25000, None, 4),
 (8, 'GRANT', 'ENGINEER', 10, '1997-03-30', 32000, None, 2),
 (9, 'JACKSON', 'CEO', None, '1990-01-01', 75000, None, 4),
 (10, 'FILLMORE', 'MANAGER', 9, '1994-08-09', 56000, None, 2)]

In [79]:
d={
"day": 42.15,
"min": 37.75,
"max": 45.29,
"night": 37.75,
"eve": 44.39,
"morn": 39.61
}

In [80]:
d

{'day': 42.15,
 'min': 37.75,
 'max': 45.29,
 'night': 37.75,
 'eve': 44.39,
 'morn': 39.61}

In [82]:
list(d.items())

[('day', 42.15),
 ('min', 37.75),
 ('max', 45.29),
 ('night', 37.75),
 ('eve', 44.39),
 ('morn', 39.61)]

In [83]:
many_query="INSERT INTO employees VALUES(?,?,?,?,?,?,?,?) "

In [84]:
conn.executemany(many_query,rows)

In [85]:
conn.commit()

In [86]:
# data retirevals / mnpltn

In [87]:
# https://www.w3schools.com/sql/sql_select.asp

In [88]:
select_query="""Select * from employees"""

In [90]:
data=conn.execute(select_query)

In [91]:
# to print/extract all the data, we need to run a for loop

In [93]:
for eachline in data:
    print(eachline)

(2, 'HARDING', 'MANAGER', 9, '1998-02-02', 52000, 300.0, 3)
(3, 'TAFT', 'SALES I', 2, '1996-01-02', 25000, 500.0, 3)
(4, 'HOOVER', 'SALES I', 2, '1990-04-02', 27000, None, 3)
(5, 'LINCOLN', 'TECH', 6, '1994-06-23', 22500, 1400.0, 4)
(6, 'GARFIELD', 'MANAGER', 9, '1993-05-01', 54000, None, 4)
(7, 'POLK', 'TECH', 6, '1997-09-22', 25000, None, 4)
(8, 'GRANT', 'ENGINEER', 10, '1997-03-30', 32000, None, 2)
(9, 'JACKSON', 'CEO', None, '1990-01-01', 75000, None, 4)
(10, 'FILLMORE', 'MANAGER', 9, '1994-08-09', 56000, None, 2)

In [94]:
for eachline in conn.execute("select name from employees"):
    print(eachline)

('JOHNSON',)
('HARDING',)
('TAFT',)
('HOOVER',)
('LINCOLN',)
('GARFIELD',)
('POLK',)
('GRANT',)
('JACKSON',)
('FILLMORE',)

In [95]:
for eachline in conn.execute("select name,designation from employees"):
    print(eachline)

('JOHNSON', 'ADMIN')
('HARDING', 'MANAGER')
('TAFT', 'SALES I')
('HOOVER', 'SALES I')
('LINCOLN', 'TECH')
('GARFIELD', 'MANAGER')
('POLK', 'TECH')
('GRANT', 'ENGINEER')
('JACKSON', 'CEO')
('FILLMORE', 'MANAGER')

In [101]:
col=input("enter the col you want to see")

enter the col you want to seemanager

In [105]:
qry="select %s from employees"%(col)

In [103]:
for eachline in conn.execute(qry):
    print(eachline)

(6,)
(9,)
(2,)
(2,)
(6,)
(9,)
(6,)
(10,)
(None,)
(9,)